@import 'config/colors.scss';
@import '_variable.scss';


.flash-box {
  background-color: #38AEF0;
  color: white;
  text-align: center;
  width: 100vw;
}

.chat-side {
  width: 300px;
  color: white;
  float: left;

  .side-header {
    background-color: #253141;
    height: 100px;
    padding: 0 20px;
    font-size: 16px;
    display: flex;
    align-items: center;

    &__box {
      display: flex;
      width: 100%;
      font-weight: bold;
      justify-content: space-between;

      &__menu {
        display: flex;
        position: absolute;
        left: 250px;
        &__new-group {
          margin-left: 0.3rem
        }

        &__edit-user {
          margin-left: 0.3rem
        }
      }
    }
  }
  .groups{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0;
    overflow: scroll;
    color: white;

    &__name {
      font-size: 15px;
    }

    &__message{
      font-size: 11px;
    }
  }
}

.chat-main {
  width: calc(100vw - 300px);
  float: left;

  .main-header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #eee;
    overflow: scroll;

    &__edit-btn {
      height: 40px;
      line-height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px $btn-color;
      position: absolute;
      right: 40px;
      color: $btn-color;
    }

    &__left-box {
      margin-top: 35px;

      &__current-group {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }

      &__member-list {
        font-size: 12px;
        color: #999999;
        display: flex;
      }
    }
  }

  .messages {
    background-color: #fafafa;
    overflow: scroll;
    height: calc(100vh - 260px);
    padding: 46px 40px;
  
    .message {
      padding-bottom: 40px;
    
      &__upper-info{
        display: flex;
        margin-bottom: 10px;

        &__talker {
          font-weight: bold;
          font-size: 16px;
          color: #434A54;
        }
        &__date {
          font-size: 12px;
          color: #999999;
          margin-left: 10px;
        }
      }
    }
  }
    .lower-message{
      font-size: 14px;
      color: #434A54;
      margin-bottom: 10px;
    }

    .form {
      padding: 20px 40px;
      background-color: #ddd;


      .input-box {
        position: relative;
        width: 100%;

        &__text {
          height: 50px;
          width: 900px;
          padding: 0 40px 0 10px;
          color: #434a54;
          border-style: none;
        }

        &__image {
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 120px;
          cursor: pointer;

          &__file {
            display: none;
          }
        }
      }
      .submit-btn {
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        background-color: #38aef0;
        color: white;
        cursor: pointer;
        position: absolute;
        right: 0;
        bottom: 0;
      }
    }
}

